/* .App {
  background-image: url(./components/shutterstock_270760424-e1476889646207.jpg);
  background-position: center;
  background-repeat: no-repeat;
} */

html {
  background: url('./components/img4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
