ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: none;
}

.nav {
  float: left;
  display: block;
  color: rgb(219, 211, 211);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Bitter', serif;
  font-weight: 500;
}

.nav:hover {
  background-color: #1f78ac;
  color: black;
}

.na {
  text-decoration: none;
  color: rgb(185, 168, 168);
}

.na:hover{
  color: black;
}
