.btn {
  color: #fff;
  background-color: #1f78ac;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 20px;
}

.left {
  /* width: 50%; */
  float: left;
  padding: 5;
  margin: 50px;
}
.right {
  /* width: 50%; */
  float: right;
  padding: 20px;
  margin: 50px;
  text-align: center;
}
#display {
  color: #fff;
  background-color: #1f78ac;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 30px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 20px;
}

#deposit {
  color: #fff;
  background-color: #1f78ac;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 27px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 20px;
}
#transfer {
  color: #fff;
  background-color: #1f78ac;
  outline: none;
  border: 0;
  color: #fff;
  padding: 10px 21px;
  text-transform: uppercase;
  margin-top: 50px;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  margin-right: 20px;
}

.pardiv {
  background-color: rgba(78, 70, 70, 0.2);
  border-radius: 3px;
  padding: 30px 50px;
  margin-top: 100px;
  margin-bottom: auto;
  font-family: 'Bitter', serif;
  font-weight: bold;
  color: rgb(211, 204, 204);
}
.in {
  display: block;
  color: rgb(235, 226, 226);
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
  font-family: 'Bitter', serif;
  font-weight: 500;
}
